body {
  margin: 40px;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://i.pinimg.com/564x/16/e2/69/16e2699ba8c7b8ad8e690310092e43c6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: rgb(255, 236, 179); */
  color: rgb(66, 66, 66);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

nav {
  background-color: #101223;
}

h5 {
  padding-top: 15px;
  padding-bottom: 18px;
  font-weight: 700;
}

.header-container {
  display: flex;
  background-color: #28283A;
  padding-top: 10px;
  /*main axis*/
  flex-direction: row;
  justify-content: flex-start;
  /*cross axis*/
  align-items: flex-start;
  width: 100%;
  /* margin-bottom: 20px;*/
}


.sign-upforstudents {
  margin-top: 20px;
}

#sign-up input,
#log-in-student input,
#log-in-admin input,
#log-in-approver input {
  margin-right: 8px;
}

.header-text {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 20px;
  padding-top: 8px;
  padding-left: 30px;
  color: white;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.6);
}

.logout {
  margin-bottom: 8px;
  font-size: 14px;
  color: #03396c;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.614);
}

.account-name {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
}

.align-items-center {
  padding-right: 10px;
}

ul {
  color: #b3cde0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

ol {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

nav ul li {
  padding: 8px;
}

.whole-container {
  /* background-color: #5B5D6B; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 40px;
  padding-top: 10px;
  padding-right: 40px;
}

.text {
  padding-left: 25px;
}

h4 {
  margin-left: 25px;
}

input {
  margin-bottom: 10px;
}

.active {
  color: whitesmoke;
}

.table-colored {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  /* border-radius: 30px; */
}

thead {
  background-color: #404252;
  color: #ffffff;
}

.notif-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  width: 100%;
}

.notif-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  padding-left: 30px;

  margin-bottom: 10px;
  gap: 1em;
  background-color: #30313d;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.614);
  color: white;
  /* color: black; */
}

.notif-item:hover {
  background-color: rgb(40, 42, 58);
  transition: 0.4s;
  border-radius: 10px;
  scale: 1.01;
}

.remark-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  width: 100%;
}

.view-app-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  border-radius: 40px;
  border-color: #b3b5bd;
  border-width: 2px;
  border-style: solid;
  margin: 20px 0px 10px 0px;
  padding: 40px 80px 40px 80px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  color: black;
}

.remark-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px;
  padding: 15px 15px 40px 70px;
  background-color: rgb(40, 42, 58);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.614);
  color: white;
}

.remark-item:hover {
  background-color: #404252;
  transition: 0.4s;
  scale: 1.01;
  border-radius: 20px;
}

.submission-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px;
  padding: 15px 15px 40px 70px;
  background-color: rgb(40, 42, 58);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.614);
  color: white;
}

.submission-item:hover {
  background-color: #404252;
  transition: 0.4s;
  scale: 1.01;
  border-radius: 20px;
}

.notifBtn {
  margin-right: 20px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}

.students-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  width: 100%;
}

.student-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  padding-left: 30px;
  margin-bottom: 10px;
  gap: 1em;
  border-radius: 20px;
  background-color: #30313d;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.614);
  color: white;
}

.student-item:hover {
  background-color: rgb(40, 42, 58);
  transition: 0.4s;
  border-radius: 10px;
  scale: 1.009;
}

.btn-right {
  position: absolute;
  top: 20px;
  right: 20px;
}

.invisible-table {
  border-collapse: collapse;
}

.invisible-table td {
  border: none;
  padding-right: 24px;
  padding-bottom: 6px;
}

/* #sign-up {
  display: flex;
  flex-direction: row;
  /* align-items: center; 
} 

/* #sign-up-btn {
  border-radius: 40px;
  font-family: 'Raleway', sans-serif;
} */
/* #sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

input[id="s-fname"],
input[id="s-mname"],
input[id="s-lname"],
input[id="s-sno"],
input[id="lad-email"],
input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.search-input {
  width: 25%;
}

.github-input {
  width: 50%;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button:hover {
  border: none;
  border-radius: 22px;
  transition: 0.3s;
  background-color: rgb(242, 242, 242);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.218);
}

.note {
  opacity: 0.5;
  font-size: small;
}

h1 {
  font-size: xx-large;
}

.glass-effect-10:hover {
  background-color: #00838f;
}

p9 {
  font-size: 40px;
  margin-bottom: 1%;
}

p10 {
  font-size: 40px;
  margin-bottom: 1%;
}

.h10 {
  font-size: 40px;
  margin-bottom: 1%;
}

#clearance-applications-heading {
  font-size: 40px;
}

#header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-bottom: 10px;
}

#manage-approver {
  background-color: #00838f;
  backdrop-filter: blur(80px);
  /* padding: 10px; */
  border-radius: 0px 0px 20px 20px;
}

#manage-adviser {
  background-color: #00838f;
  backdrop-filter: blur(80px);
  /* padding: 10px; */
  border-radius: 0px 0px 20px 20px;
}

#manage-student {
  background-color: #00838f;
  backdrop-filter: blur(80px);
  /* padding: 10px; */
  border-radius: 0px 0px 20px 20px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 60px;
}

big-font {
  font-size: 3em;
}

.welcome-adviser {
  font-size: 3eam;
}

#image-admin {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-80%);
}

nav#manage-approver ul li:hover {
  background-color: #ffa000;
  border-radius: 40px;
}

nav#manage-adviser ul li:hover {
  background-color: #ffa000;
  border-radius: 40px;
}

nav#manage-student ul li:hover {
  background-color: #ffa000;
  border-radius: 40px;
}

nav#manage-approver ul li:hover a {
  color: rgb(66, 66, 66);
}

nav#manage-adviser ul li:hover a {
  color: rgb(66, 66, 66);
}

nav#manage-student ul li:hover a {
  color: rgb(66, 66, 66);
}

#dashboard {
  background-color: #424242;
  backdrop-filter: blur(80px);
  /* padding: 10px; */
  border-radius: 20px 20px 0px 0px;
}

.glass-effect {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 6px 6px;
  font-size: 16px;
  color: rgb(0, 131, 143);
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}

.custom-file-upload:hover {
  background-color: rgba(238, 238, 238, 0.41);
}

.button-stylee {
  display: inline-block;
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: black;
  margin-bottom: 5px;
  width: 200px;
}

.button-stylee::before {
  content: "Choose File";
}

.button-stylee:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#csv {
  font-size: 25px;
}

.glass-effect-5 {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  font-size: 16px;
  color: #424242;
}

.glass-effect-3 {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  font-size: 16px;
  color: #424242;
}

.glass-effect-4 {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 9px 9px;
  font-size: 16px;
  color: #424242;
  /* width: 8%; */
  /* margin-top: 10%;
  margin-bottom: 10%; */
}

.glass-effect-2 {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px 8px;
  font-size: 16px;
  color: #424242;
  width: 10%;
}

.glass-effect-13 {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 13px 13px;
  font-size: 16px;
  color: #424242;
  width: 4%;
}

.glass-effect-1 {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  font-size: 16px;
  color: #2a2a2a;
  margin-top: 0.5%;
  margin-bottom: 2%;
}

.glass-effect-1a {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* padding: 10px 10px; */
  font-size: 16px;
  color: #2a2a2a;
  /* margin-top: .5%;
    margin-bottom: 2%; */
}

.glass-effect-10 {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  font-size: 16px;
  color: #2a2a2a;
  margin-top: -0.8%;
  margin-bottom: -0.8%;
}

.name-manage-approver {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.name-manage-approver span {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
}

select {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  font-size: 16px;
  color: rgb(0, 131, 143);
}

option {
  background-color: rgba(255, 255, 255, 0.5);
}

#image-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 55vh;
  /* Set the desired height or adjust as needed */
}

#image5 {
  max-width: 30%;
  max-height: 30%;
}

/* #welcome-admin {
  background-image: url("https://i.pinimg.com/originals/9b/0e/bb/9b0ebbf56da228fa54b2c57c18163c94.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 8px;
}   */

h3:hover {
  color: #00838f;
}

h2:hover {
  color: #00838F;
}

p9:hover {
  color: #00838F;
}

p10:hover {
  color: #00838f;
}

#clearance-applications-heading:hover {
  color: #00838f;
}

#notification:hover {
  color: #00838f;
}

#notification {
  font-size: 40px;
}

#create-application:hover {
  color: #00838f;
}

#create-application {
  font-size: 40px;
}

#glass-background {
  background-color: rgba(255, 255, 255, 0.5);
  /* Glass background color with opacity */
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Shadow effect */
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: rgb(255, 160, 0);
  transition: color 0.3s;
  /* margin-bottom: 20px; */
}

#header:hover {
  color: rgb(173, 20, 87);
}

#image {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: auto;
}

footer {
  background-color: rgba(255, 255, 255, 0.5);
  /* Glass background color with opacity */
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Shadow effect */
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 14px;
}